* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html,
body {
    background: #222c41;
    color: #ccf;
}
.main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.wrap {
    margin: auto;
    padding: 8vh 4vw;
    max-width: 960px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    color: #ccf;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    margin-bottom: 1vh;
    font-size: 24px;
    text-align: center;
}

.example {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1vh;
}

.valita_group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.valita {
    position: relative;
}

.mark {
    position: absolute;
    right: -8px;
    top: -8px;
    height: 28px;
    width: 28px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ff0;
    background: #222c41;
    color: #ff0;
    opacity: 0;
    transition-duration: 0.3s;
}

.view {
    opacity: 1;
}

.valita input[type="checkbox"] {
    display: none;
}

.valita label {
    border: 1px solid #779;
    border-radius: 8px;
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    transition-duration: 0.3s;
}

.valita label {
    height: 80px;
    width: 80px;
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    color: #779;
    line-height: 60px;
    transition-duration: 0.3s;
    transform-origin: 50% 50%;
}

.valita :checked+label {
    border-radius: 16px;
    border: 3px solid #ff0;
}

.valita :checked+label {
    transform: scale(0.9);
    font-size: 2.5rem;
    color: #ff0;
    text-shadow: 0 0 8px rgba(255, 255, 255, .75);
    transition-duration: 0.3s;
    transform-origin: 50% 50%;
}

.example span {
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
}

.example span:nth-child(1) {
    color: #3c3;
}

.example span:nth-child(2) {
    color: #d33;
}

.example span:nth-child(3) {
    color: #dd3;
}

.kysymys {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16vh;
    border: 1px solid #246;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 8px;
}

.line {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto 1vh auto;
}

.auttaa {
    padding: 20px 40px;
    font-size: 16px;
    border: 1px solid #80ff80;
    color: rgba(128, 255, 128, .1);
    border-radius: 8px;
    margin-right: auto;
    cursor: pointer;
    transition: .5s ease-out;
}

.auttaa:hover {
    color: rgba(128, 255, 128, 1);
}

.help {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 32px;
    line-height: 60px;
    color: #80ff80;
    text-align: center;
}

.help-text {
    flex-grow: 1;
    height: 60px;
    width: 100%;
    font-size: 32px;
    line-height: 60px;
    color: #80ff80;
    text-align: center;
}

.result {
    border: 1px solid #acd;
    border-radius: 8px;
    height: 60px;
    width: 120px;
    font-size: 16px;
    line-height: 60px;
    padding: 0 1rem;
    color: #acd;
    text-align: center;
}

.form {
    width: 80%;
}

.vastaus {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    border-radius: 8px;
}

.vastaus_input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    font-size: 32px;
    line-height: 40px;
    background: #ccddef;
    border-radius: 8px;
    outline: none;
}

.win {
    background: #80ff80;
}

.lose {
    background: #ff8080;
}

.btns {
    display: inline-block;
    position: absolute;
    right: 0;
}

.btn_A,
.btn_O {
    display: inline-block;
    margin: 5px;
    height: 52px;
    width: 52px;
    border-radius: 8px;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    color: #246;
    border: 1px solid #246;
    background: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.res {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 16px 40px;
    font-size: 24px;
    border: 1px solid #80ff80;
    color: rgb(128, 255, 128);
    background-color: transparent;
    outline: none;
    border-radius: 8px;
    transition: .3s ease-out;
    cursor: pointer;
    margin-top: 2vh;
}

.btn:hover {
    background: #246;
    color: #dd3;
    border: 1px solid #dd3;
}

.btn:disabled {
    background-color: #39496b;
    color: #2a354e;
    border: 1px solid #678;
}

.btn:disabled:hover {
    background-color: #39496b;
    color: #2a354e;
    cursor: default;
}

.bb:hover {
    background: #246;
    color: #dd3;
}

.bb:active {
    background: #8fafcf;
    color: #246;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .65);
}

.modal-window {
    width: 60%;
    max-height: 60%;
    background-color: #ccf;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-content {
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.modal-content-item {
    text-align: center;
    padding: 4px 0;
    color: #024;
    width: 29%;
    margin: 6px 2%;
    border: 1px solid transparent;
    cursor: pointer;
}

.linetext {
    color: #060;
    background: transparent;
    border: 1px solid #060;
    border-radius: 4px;
}

.modal-content-item:hover {
    color: #080;
}

.modal-footer {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.spacer {
    flex-grow: 1;
}

.modal-btn {
    display: block;
    padding: 10px 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #246;
    border: 1px solid #246;
    color: #fff;
    margin: 5px;
}

.modal-btn:hover {
    background: transparent;
    color: #024;
    border: 1px solid #024;
}

.modal-btn:active {
    color: #fff;
    background: #024;
}

.red {
    background: #c44;
    border: 1px solid #c44;
}
.red:hover {
    color: #800;
    background: transparent;
    border: 1px solid #800;
}
.red:active {
    color: #fff;
    background: #800;
}

.green {
    background: #383;
    margin-left: 1rem;
    border: 1px solid #383;
}
.green:hover {
    color: #080;
    background: transparent;
    border: 1px solid #080;
}
.green:active {
    color: #fff;
    background: #080;
}